openapi: 3.0.2
info:
  description: Tilgjengeliggjør begreper fra Begrepskatalog
  version: '2.0.0'
  title: Begrepskatalog API
  contact:
    name: Brønnøysundregistrene
    url: 'https://fellesdatakatalog.brreg.no'
    email: fellesdatakatalog@brreg.no
  license:
    name: License of API
    url: 'http://data.norge.no/nlod/no/2.0'
tags:
  - name: begrepskatalog
    description: Begrepskatalog API
servers:
  - url: 'https://begrepskatalog.fellesdatakatalog.brreg.no/api'
    description: Produksjonsversjon av API server
paths:
  /begreper:
    post:
      tags:
        - begrepskatalog
      description: opprette nytt begrep
      operationId: createBegrep
      responses:
        '201':
          description: Created
          headers:
            Location:
              schema:
                type: string
              description: url til det nye begrepet
        '409':
          description: Ulovlig verdier i begrep
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feilmelding"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Begrep'
    get:
      tags:
        - begrepskatalog
      description: Returnerer en samling begreper for en gitt virksomhet
      operationId: getBegrep
      parameters:
        - in: query
          name: orgNummer
          description: Virksomhetens organisasjonsnummer
          required: false
          schema:
            type: string
        - in: query
          name: status
          description: begrepets status
          required: false
          schema:
            $ref: "#/components/schemas/Status"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Begrep'
  /begreper/{id}:
    get:
      tags:
        - begrepskatalog
      description: Hent et spesifikt begrep
      operationId: getBegrepById
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Begrep"
    patch:
      tags:
        - begrepskatalog
      description: Oppdatere detaljer på et begrep
      operationId: setBegrepById
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
        - name: validate
          in: query
          description: Om begrepet skal valideres
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Begrep"
        '409':
          description: Ulovlig verdier i begrep
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Feilmelding"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPatch'
    delete:
      tags:
        - begrepskatalog
      description: slette et begrep
      operationId: deleteBegrepById
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: No Content
components:
  schemas:
    Begrep:
        type: object
        description: Et begrep
        properties:
          id:
            type: string
            description: system-generert id (GUID)
          status:
            $ref: "#/components/schemas/Status"
          anbefaltTerm:
            $ref: "#/components/schemas/Term"
          tillattTerm:
            $ref: "#/components/schemas/TekstMedSpraakKode"
          frarådetTerm:
            $ref: "#/components/schemas/TekstMedSpraakKode"
          definisjon:
            $ref: "#/components/schemas/Definisjon"
          kildebeskrivelse:
            $ref: "#/components/schemas/Kildebeskrivelse"
          merknad:
            $ref: '#/components/schemas/TekstMedSpraakKode'
          ansvarligVirksomhet:
            $ref: "#/components/schemas/Virksomhet"
          eksempel:
            $ref: '#/components/schemas/TekstMedSpraakKode'
          fagområde:
            $ref: '#/components/schemas/TekstMedSpraakKode'
          bruksområde:
            $ref: '#/components/schemas/TekstMedSpraakKode'
          omfang:
            $ref: "#/components/schemas/URITekst"
          kontaktpunkt:
            $ref: "#/components/schemas/Kontaktpunkt"
          gyldigFom:
            type: string
            format: date
          endringslogelement:
            $ref: "#/components/schemas/Endringslogelement"
    Kildebeskrivelse:
      type: object
      required:
        - forholdTilKilde
      properties:
        forholdTilKilde:
          type: string
          enum:
            - egendefinert
            - basertPaaKilde
            - sitatFraKilde
        kilde:
          description: er kun relevant dersom typeKilde
          type: array
          items:
            $ref: "#/components/schemas/URITekst"
    URITekst:
      type: object
      properties:
        uri:
          type: string
        tekst:
          type: string
    Kontaktpunkt:
      type: object
      description: kontaktpunktet for dette begrepet
      properties:
        harEpost:
          type: string
          description: e-post adressen til kontaktpunkt
        harTelefon:
          type: string
          description: telefonnummer til kontaktpunkt
    Virksomhet:
      type: object
      description: Ansvarlig virksomhet for begrepet [dct:publisher]
      properties:
        uri:
          type: string
          description: Lenke til the virksomhet i Brønnøysundregistrene
        id:
          type: string
          description: organisasjonsnummer
        navn:
          type: string
          description: Navnet til virksomheten slik den er oppgitt i Brønnøysundregistrene
        orgPath:
          type: string
        prefLabel:
          type: string
    Status:
      type: string
      enum:
      - utkast
      - godkjent
      - publisert
    Feilmelding:
      type: object
      required:
      - melding
      properties:
        melding:
          type: string
    Endringslogelement:
      type: object
      required:
        - brukerId
        - endringstidspunkt
      properties:
        brukerId:
          type: string
        endringstidspunkt:
          type: string
          format: date-time
    JsonPatch:
      description: 'A JSON Schema describing a JSON Patch (https://tools.ietf.org/html/rfc6902)'
      type: array
      items:
        $ref: '#/components/schemas/JsonPatchOperation'
    JsonPatchOperation:
      type: object
      description: 'A JSON patch document as defined by RFC 6902'
      required:
        - op
        - path
      properties:
        op:
          type: string
          description: 'The operation to be performed'
          enum:
            - add
            - remove
            - replace
            - move
            - copy
            - test
        path:
          type: string
          description: 'A JSON pointer to the property being affected'
        value:
          type: object
          description: 'The value to add, replace or test.'
        from:
          description: 'A JSON Pointer path pointing to the location to move/copy from.'
          type: string
    Definisjon:
      type: object
      description: The definition [skosno:Definisjon] in differerent languages
      properties:
        tekst:
          $ref: '#/components/schemas/TekstMedSpraakKode'
    Term:
      type: object
      description: The term [skosno:Definisjon] in differerent languages
      properties:
        navn:
          $ref: '#/components/schemas/TekstMedSpraakKode'
    TekstMedSpraakKode:
      description: A generic object to hold multilanguage texts, that has language code (according to ISO 639-1) as keys
      type: object
      additionalProperties: {}
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
security:
  - bearerAuth: []
